{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block content %}
    <h3>Mon Panier</h3>
    <p>Retrouvez l'ensemble des produits de votre panier pour passer a la commande</p>
    <hr>
    {% if cart|length > 0 %}
        <table class="table mt-3">
            <thead>
            <tr>
                <th scope="col">Produits</th>
                <th scope="col"></th>
                <th scope="col">Quantités</th>
                <th scope="col">Prix</th>
                <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            {% set total = null %}
            {% for item in cart %}
                <tr>
                    <th>
                        <img src="/uploads/{{ item.product.illustration }}" class="img-fluid"
                             alt="{{ item.product.name }} }" >
                    </th>
                    <th>{{ item.product.name }}</th>
                    <td>
                        <a href="{{ path('decrease_to_cart', { 'id' : item.product.id }) }}">
                            <img src="{{ asset('assets/img/minus.png') }}" alt="retirer un produit" height="15px">
                        </a>
                        <span> X {{ item.quantity }}</span>
                        <a href="{{ path('add_to_cart', { 'id' : item.product.id }) }}">
                            <img src="{{ asset('assets/img/plus.png') }}" alt="ajouter un produit" height="15px">
                        </a>
                    </td>
                    <td>{{ (item.product.price/100)|number_format(2,',','.') }} €</td>
                    <th>{{ ( (item.product.price * item.quantity)/100)|number_format(2,',','.') }} €</th>
                    <td>
                        <a href="{{ path('delete_to_cart', { 'id' : item.product.id }) }}">
                            <img src="{{ asset('assets/img/delete.png') }}" alt="supprimer produit" height="15px">
                        </a>
                    </td>
                </tr>
                {% set total = total + (item.quantity * item.product.price) %}
            {% endfor %}
            </tbody>
        </table>
        <div class="text-right mb-5">
            <p>Nombre de produit : {{ cart|length }}</p>
            <p>Total du panier : {{ (total / 100)|number_format(2,',','.') }} €</p>
            <a href="{{ path('order') }}" class="btn btn-block btn-success mt-3">valider mon panier</a>
        </div>
    {% else %}
        <hr>
        <p>Votre Panier est vide</p>
    {% endif %}
{% endblock %}
