{% extends 'base.html.twig' %}

{% block title %}Ajouter une adresse - Furniture eshop{% endblock %}

{% block content %}
    <div class="row">
        <div class="container">
            <h1> gerer mes adresse </h1>
            <hr>
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-12">{{ form_row(form.name) }}</div>
                <div class="col-md-6">{{ form_row(form.firstName) }}</div>
                <div class="col-md-6">{{ form_row(form.lastName) }}</div>
                <div class="col-md-6">{{ form_row(form.company) }}</div>
                <div class="col-md-6">{{ form_row(form.address) }}</div>
                <div class="col-md-6">{{ form_row(form.postal) }}</div>
                <div class="col-md-6">{{ form_row(form.city) }}</div>
                <div class="col-md-6">{{ form_row(form.country) }}</div>
                <div class="col-md-6">{{ form_row(form.phone) }}</div>
            </div>
            {{ form_end(form) }}
            <hr>
            <a href="{{ path('account_address') }}" class="btn btn-info col-md-4 btn-sm"> retour</a>
        </div>
    </div>
{% endblock %}