{% extends 'base.html.twig' %}

{% block title %}Mes addresses - Furniture eshop{% endblock %}

{% block content %}
    <div class="row">
        <div class="container">
            <a href="{{ path('account_address_add') }}" class="btn btn-info btn-sm float-right"> Ajouter une addresse</a>
            <h1> Mon Compte </h1>
            <p>C'est dans cet espace que vous pouvez gerer vos address de livraison</p>
            <a href="{{ path('account') }}" class="btn btn-info"> Retour</a>
            <hr>
            {% if app.user.addresses|length == 0 %}
                <p class="text-center">
                    vous n'avez pas encore ajouté d'addresse dans votre compte client. pour en ajouter une
                    <a href="{{ path('account_address_add') }}">veuillez cliquez ici</a>
                </p>
            {% else %}
                <div class="row">
                    {% for address in app.user.getaddresses %}
                        <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                <h5 class="card-title">{{ address.name }}</h5>
                                <p class="card-text">{{ address.address }} <br>
                                    {{ address.postal }} - {{ address.city }} - {{ address.country }}
                                </p>
                                <a href="{{ path('account_address_update', { 'id' : address.id }) }}" class="btn btn-primary">Modifier</a>
                                <a href="{{ path('account_address_delete', { 'id' : address.id }) }}" class="btn btn-warning">Supprimer</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}