{% extends 'base.html.twig' %}

{% block title %}Mon compte Furniture Eshop{% endblock %}

{% block content %}
<h1> Mon Compte </h1>
    {% if is_granted('ROLE_ADMIN') %}
    <a href="{{ path('admin') }}">Vous etes un administrateur acceder au backoffice ?</a>
    {% endif %}
    <p>Bienvenue {{ app.user.firstname }} dans votre compte. C'est dans cet espace
    que vous allez pouvoir gérer toutes vos informations personelles.</p>
    <hr>
    <a href="{{ path('account_password') }}">Modifier mon mot de passe</a>
    <br>
    <a href="{{ path('account_address') }}">Gerer mes addresses</a>
{% endblock %}
