{% extends 'base.html.twig' %}

{% block carousel %} {% endblock %}

{% block content %}

    <!-- Three columns of text below the carousel -->
    <h2>nos meilleurs ventes</h2>
    <p>decouvrez les articles les plus vendus </p>
    <div class="row">
        {% for product in products %}
            <div class="col-md-4">
                {% include 'product/single_product.html.twig' %}
            </div>
        {% endfor %}
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Venez a notre rencontre dans nos differentes boutique <span class="text-muted">En Belgique</span></h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img src="{{ asset('assets/img/boutique.jpg') }}" class="img-fluid" alt="boutique">
            </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">une equipe de passioné <span class="text-muted">avec des proffesionel</span></h2>
            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="{{ asset('assets/img/artisan.jpg') }}" class="img-fluid" alt="presentation artisan">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
{% endblock %}