body {
    position: relative;
}
.navbar-item-custom a {
    color: #fff;
}

.footer-custom {
    text-align: center;
    position: absolute;
    width: 100%;
    background: #dfeaff;
    padding-top: 25px;
}

.product-container {
    margin-bottom: 100px;
}

.product-item {
    margin-top: 20px;
    float: left;
}

.product-item h5 {
    text-transform: uppercase;
    font-size: 16px;
    margin-bottom: 1px;
}

.product-item .product-subtitle {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.product-item .product-price {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.product-detail-container{
    margin-top: 20px;
}

.product-detail-price {
    font-size: 16px;
    font-weight: bold;
}

.cart-icon {
    height: 20px;
    padding-left: 20px;
}

.block-small {
    max-width: 600px;
    margin: 0 auto;
}

.form-check {
    background: #f4f8ff;
    padding: 25px 65px;
    margin-top: 5px;
}

.col-form-label {
    font-weight: bold;
}

.orders-summary {
    background: #f4f8ff;
    padding: 20px;
    margin-top: 22px;
}