{% extends 'base.html.twig' %}

{% block title %}Nos produits{% endblock %}

{% block content %}
    <div class="row ">
        <div class="col-md-3">
            <h3>Filtres</h3>
            {{ form(form) }}
        </div>
        <div class="col-md-9">
            <h1>Nos produits</h1>
            <div class="row product-container">
                {% for product in products %}
                    <div class="col-md-4">
                        {% include 'product/single_product.html.twig' %}
                        <div class="offset-4">
                            <a href="{{ path('product', { 'slug':product.slug }) }}" class="btn btn-outline-secondary">detail</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
