{% extends 'base.html.twig' %}

{% block title %}Detail de {{ product.name }}{% endblock %}

{% block content %}
    <div class="row product-detail-container">
        <div class="col-md-5">
            <img src="/uploads/{{ product.illustration }}" class="img-fluid" alt="{{ product.name }} }">
        </div>
        <div class="col-md-7 my-auto">
            <h3>{{ product.name }}</h3>
            <p>{{ product.subtitle }}</p>
            <span class="product-detail-price">{{ (product.price/100)|number_format(2,',','.') }} €</span>
            <hr>
            <p>{{ product.description }}</p>
            <a href="{{ path('add_to_cart', { 'id': product.id }) }}" class="btn-info">Ajouter au panier</a>
        </div>

    </div>

{% endblock %}