<div class="product-item text-center">
    <img src="/uploads/{{ product.illustration }}" class="img-fluid" alt="{{ product.name }} }">
    <h2>{{ product.name }}</h2>
    <span class="product-subtitle">{{ product.subtitle }}</span>
    <span class="product-price">{{ (product.price/100)|number_format(2,',','.') }} €</span>
</div>