{% extends 'base.html.twig' %}

{% block title %}Contact - Furniture Eshop{% endblock %}

{% block content %}
    <h2>Nous contacter</h2>
    <h2>n'hesiter pas a prendre contact avec notre equipe</h2>
    {% for message in app.flashes('notices') %}
        <div class="alert alert-info">{{ message }}</div>
    {% endfor %}
    <div class="row">
        <div class="col-md-8">{{ form(form) }}</div>
        <div class="col-md-4">
            <h2>Furnitures Eshop</h2>
            <p>1, rue des lylas fleuri</p>
            <p>+032/0476/03/56/73</p>
            <p>felixmalchair@gmail.com</p>
        </div>
    </div>
{% endblock %}
