{% extends 'base.html.twig' %}

{% block title %}Commande - Furnitures Eshop{% endblock %}

{% block content %}
    <h1> Mon recapitulatidf</h1>
    <p>verifiez vos informations avant de payer votre commande</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            <div class="form-check mt-5">
                <h3>mon addresse de livraison</h3>
                {{ delivery | raw }}
            </div>
            <hr>
            <div class="form-check">
                <h3>mon transporteur</h3>
                {{ carrier.name }}<br>
                {{ carrier.description }}<br>
                {{ (carrier.price)|number_format(2,',','.') }} €
            </div>
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Recap du panier</b>
                <p>Retrouvez le récapitulatif de vos produits</p>
            </div>
            <div class="orders-summary">
                {% set total = null %}
                {% for key,item in cart %}
                    <div class="row {% if key > 0 %} mt-5 {% endif %}">
                        <div class="col-3"><span>{{ item.product.name }}</span></div>
                        <div class="col-6">
                            <small>
                                <span>{{ item.product.subtitle }}</span><hr>
                                <span>quantité : X {{ item.quantity }}</span>
                            </small>
                        </div>

                        <div class="col-3"><span>{{ ( (item.product.price * item.quantity)/100)|number_format(2,',','.') }} € </span></div>

                    </div>
                    {% set total = total + (item.quantity * item.product.price) %}
                {% endfor %}
            </div>
            <hr>
            <span>Sous-Total : {{ (total / 100)|number_format(2,',','.') }} €</span><br>
            <span>Livraison : {{ (carrier.price)|number_format(2,',','.') }} €</span>
            <hr>
            <span>total : {{ ((total / 100)+(carrier.price))|number_format(2,',','.') }} €</span>
            <a href="" class="btn btn-success btn-block mt-3">Payer | {{ ((total / 100)+(carrier.price))|number_format(2,',','.') }} €</a>
        </div>
    </div>
{% endblock %}