{% extends 'base.html.twig' %}

{% block title %}Commande - Furnitures Eshop{% endblock %}

{% block content %}
    <h3> Ma commande</h3>
    <p>choisissez vos preferences avant de passer commandes</p>
    <hr>
    <div class="row">
        <div class="col-md-6">
            {% set formHtml %}
                {{ form_start(form,{action:path('order_recap')}) }}
                    {{ form_label(form.adresses,'Choisissez votre adresse de livraison') }}
                    <a href="{{ path('account_address_add') }}">Ajouter une nouvelle adresse</a>
                {{ form_end(form) }}
            {% endset %}

            {{ formHtml|replace({'[br]' : '<br/>'})|raw }}
        </div>
        <div class="col-md-6">
            <div class="text-center">
                <b>Recap ma commande</b>
                <p>Retrouvez le récapitulatif de vos produits</p>
            </div>
            <div class="orders-summary">
                {% for key,item in cart %}
                    <div class="row {% if key > 0 %} mt-5 {% endif %}">
                        <div class="col-3"><span>{{ item.product.name }}</span></div>
                        <div class="col-6"><span>{{ item.product.subtitle }}</span></div>
                        <div class="col-3"><span> X {{ item.quantity }}</span></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
